# Задача про интервалы
Имеется список отсортированных по возрастанию целых чисел data. А также целое число n, которое лежит между минимальным и максимальным значениями из списка data. Вам необходимо определить минимальное ближайшее число к n из списка data.

Пример:
```python
data = [1, 7, 17, 23, 27, 35, 65]
n = 20
```

Ответ: 17

In [1]:
data = [1, 7, 17, 23, 27, 35, 65]
n = 20

In [8]:
for i, item in enumerate(data[:-1]):
    if item <= n < data[i+1]:
        print(item)
        break

17

# Бинарный поиск

O(log(N))

In [ ]:
2 +1 шаг
4 +2 шага
8 +3 шага

2**N

In [ ]:
Алеексеев - 3-57-94
Беляев
...
Волков  <--
...
<--
Дроздов
...
Иванов  <--
...
Яблоков

### Сложность алгоритма

O(f(N))

In [ ]:
O(N) x N

In [ ]:
100 --> 1 мин
1000 --> 10 мин

In [ ]:
O(N**2) x N --> N**2
100сек --> 1000 --> 10**6

# Алгоритм экспоненциальной задержки

In [ ]:
'https://www.cbr-xml-daily.ru/daily_json.js'

In [1]:
import requests

In [8]:
def exchange_rates(host, timeout):
    return requests.get(f'{host}/daily_json.js', timeout=timeout).json()

In [10]:
exchange_rates('https://www.cbr-xml-daily.ru', timeout=0.001)

ConnectTimeout: HTTPSConnectionPool(host='www.cbr-xml-daily.ru', port=443): Max retries exceeded with url: /daily_json.js (Caused by ConnectTimeoutError(<urllib3.connection.VerifiedHTTPSConnection object at 0x10f974f60>, 'Connection to www.cbr-xml-daily.ru timed out. (connect timeout=0.001)'))

In [21]:
import time

N_RETRIES = 3

rates = None
for i in range(N_RETRIES):
    try:
        rates = exchange_rates('https://www.cbr-xml-daily.ru', timeout=0.001)
    except requests.Timeout as e:
        print(f'Серверу тяжело, попробуйте попозже. Жду {2**i}c')
        time.sleep(2**i)
        
if rates:
    print(rates)
else:
    raise ValueError('Иди чини сервер')

Серверу тяжело, попробуйте попозже. Жду 1c
Серверу тяжело, попробуйте попозже. Жду 2c
Серверу тяжело, попробуйте попозже. Жду 4c

ValueError: Иди чини сервер

In [ ]:
rates = None
for i in range(N_RETRIES):
    try:
        if i >= 2:
            rates = exchange_rates('https://www.cbr-xml-daily.ru', timeout=1)
        else:
            rates = exchange_rates('https://www.cbr-xml-daily.ru', timeout=0.001)
            
    except requests.Timeout as e:
        print(f'Серверу тяжело, попробуйте попозже. Жду {2**i}c')
        time.sleep(2**i)
        rates = None
        
if rates:
    print(rates)
else:
    raise ValueError('Иди чини сервер')

# Обработка ошибок
1. Текст ошибки указывается в последней строчке
2. Все что перед ней - место, где ошибка произошла
3. Есть встроенные типы ошибок, но можно создавать и свои

Некоторые типы ошибок из документации (точнее [перевода](https://pythonworld.ru/tipy-dannyx-v-python/isklyucheniya-v-python-konstrukciya-try-except-dlya-obrabotki-isklyuchenij.html)):
- ZeroDivisionError - деление на ноль
- ImportError - не удалось импортирование модуля или его атрибута (надо установить эту библиотеку)
- IndexError - индекс не входит в диапазон элементов.
- KeyError - несуществующий ключ (в словаре, множестве или другом объекте)
- MemoryError - недостаточно памяти
- SyntaxError - синтаксическая ошибка (вы опечатались или не закрыли скобку)
- TypeError - операция применена к объекту несоответствующего типа
- ValueError - функция получает аргумент правильного типа, но некорректного значения
- Warning - предупреждение (текст на красном фоне в юпитере это предупреждение, а не ошибка)

In [ ]:
# эту строку можно перевести в число
some_num = '123'

In [ ]:
float(some_num)

In [ ]:
# а эту уже нет (по крайней мере в десятичном счислении)
ups = '123a'

In [ ]:
# ValueError - тип ошибки, далее пояснение что произошло
# ----> 1 float(ups) - в каком месте кода произошла ошибка
float(ups)

Пример ошибки внутри функции

In [9]:
def square_sum(*args):
    total_sum = 0
    for arg in args:
        total_sum += arg**2
    
    return total_sum

In [10]:
square_sum(1, 2, 3)

14

In [11]:
# пытаемся применить к операцию возведения в квадрат к строке
# ----> 1 square_sum(1, 2, '3') - в какой функции произошла ошибка
# ----> 4         total_sum += arg**2 - в какой именно строке произошла ошибка

square_sum(1, 2, '3')

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

## Как сделать, чтобы цикл с расчетом не падал каждый раз

In [ ]:
try:
    # ваш код, где может произойти ошибка
    float('123a')

except:
    # код, который выполняется в случае ошибки

In [13]:
float('90few')

ValueError: could not convert string to float: '90few'

In [17]:
data = ['90', '60', '90', '240tot']
total_sum = 0
x = 2

for num in data:
    try:
        total_sum += float(num)
    except:
        print('Ошибка в данных: {}'.format(num))
    
    
print('Итого', total_sum)

150.0

TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'

Как сохранить всю информацию об ошибке?

In [ ]:
# полная версия traceback
import traceback

try:
    float('123fff')

except Exception:
    print(traceback.print_exc())
    
print('Проехали')

### Блок finally

In [ ]:
try:
    pass
except:
    pass
finally:
    pass

In [ ]:
try:
    pass
except:
    pass

pass

In [ ]:
connection = pymysql.connect(host, user, password)

In [22]:
try:
    print(1)
    1 / 0
    
except:
    print(2)
    1 / 0
    
finally:
    print('Эта строчка будет выполнена всегда')

1
2
Эта строчка будет выполнена всегда

ZeroDivisionError: division by zero

In [ ]:
connection.close()

### Более жизненный пример

In [1]:
from datetime import datetime

In [10]:
DATE_FORMATS = ['%d.%m.%y %H:%M', '%d.%m.%YT %H:%M:%S', '123']

In [12]:
def make_date(datetime_):
    for format_ in DATE_FORMATS:
        try:
            return datetime.strptime(datetime_, format_)
        except:
            pass
        
    raise ValueError('Неизвестный формат даты')

In [5]:
datetime.strptime('09.10.2016T 21:40:00', '%d.%m.%YT %H:%M:%S')

datetime.datetime(2016, 10, 9, 21, 40)

In [14]:
10.87 + 20.57

31.439999999999998

In [18]:
int((10.87 + 1/3) * 10**6) //10**6

11

In [ ]:
11.47

In [13]:
with open('real_data.txt', 'r') as f:
    for line in f:
        if len(line.strip().split('\t')) == 3:
            print(line)
            datetime_, user_id, revenue = line.strip().split('\t')
            datetime_ = make_date(datetime_)

05.10.16 23:18	1010	20,2

09.10.2016T 21:40:00	1036	15,6

01.10.16 4:57	1042	14,8

01.10.16 23:29	1042	14,4

03.10.16 20:20	1042	14

04.10.16 0:35	1042	20

04.10.16 13:46	1042	16,2

04.10.16 17:34	1042	11

05.10.16 15:15	1042	10800000

06.10.16 20:45	1042	22,6

07.10.16 2:54	1042	22,4

07.10.16 5:02	1042	24,4

07.10.16 6:35	1042	16,6

08.10.2016T 16:46:00	1042	8,6

07.10.16 9:59	1052	24

08.10.2016T 19:36:00	1052	18,8

09.10.2016T 16:27:00	1062	11,2

05.10.16 4:38	1067	19

04.10.16 9:56	1078	23,4

04.10.16 14:36	1085	17

05.10.16 16:41	1096	20,8

01.10.16 11:55	1098	15,6

07.10.16 9:06	1105	16,2

01.10.16 4:30	1108	17,8

01.10.16 18:16	1108	18,8

02.10.16 2:58	1108	20000000

02.10.16 6:01	1108	21

02.10.16 20:03	1108	16,6

04.10.16 2:56	1108	20

04.10.16 6:57	1108	19,8

06.10.16 6:46	1108	16,8

09.10.2016T 8:33:00	1108	24000000

08.10.2016T 8:02:00	1111	12

05.10.16 5:25	1112	10,2

09.10.2016T 0:03:00	1112	24

06.10.16 10:09	1113	15,8

09.10.2016T 12:09:00	1113	22

05.10.16 18:00	1114	17,4

06.10.16 17:58	1114	14,8

05.10.16 23:19	1116	20

01.10.16 23:13	1118	11,6

09.10.2016T 21:14:00	1118	20

05.10.16 16:30	1123	16

06.10.16 5:27	1123	11,2

01.10.16 17:46	1128	12,2

01.10.16 22:28	1136	21,6

03.10.16 23:03	1136	17,4

03.10.16 8:06	1140	22

04.10.16 10:01	1140	22

01.10.16 16:53	1141	16

05.10.16 3:31	1145	16

06.10.16 4:00	1145	20

02.10.16 8:08	1149	10

07.10.16 16:12	1149	21,2

08.10.2016T 6:55:00	1149	30,4

08.10.2016T 22:55:00	1149	18800000

09.10.2016T 4:10:00	1149	14

09.10.2016T 10:26:00	1149	22

09.10.2016T 22:22:00	1149	16

07.10.16 6:57	1150	12,6

02.10.16 12:03	1154	13,4

04.10.16 22:51	1154	13,6

04.10.16 9:28	1159	10,2

04.10.16 13:34	1159	17,4

08.10.2016T 9:43:00	1164	22,4

07.10.16 14:57	1167	11,4

07.10.16 20:25	1175	14

06.10.16 12:48	1181	22,4

07.10.16 9:54	1182	18

10.10.16 2:35	1182	17

04.10.16 13:49	1193	24800000

09.10.2016T 20:49:00	1193	16,6

01.10.16 5:12	1198	17,8

06.10.16 7:52	1198	9

06.10.16 5:15	1201	10,6

01.10.16 16:10	1207	16,6

02.10.16 1:24	1207	24,2

02.10.16 21:17	1207	20,4

03.10.16 16:08	1207	25,6

04.10.16 17:29	1207	19,8

05.10.16 1:39	1207	16,4

05.10.16 6:33	1207	16,2

05.10.16 18:57	1207	17

05.10.16 20:51	1207	16,8

07.10.16 8:55	1207	19,8

07.10.16 17:40	1207	15,6

08.10.2016T 23:36:00	1207	19,2

09.10.2016T 10:25:00	1207	23,2

09.10.2016T 21:04:00	1207	10,8

04.10.16 7:38	1208	24,4

09.10.2016T 14:53:00	1208	13,4

05.10.16 17:15	1209	12

03.10.16 6:16	1213	18,6

06.10.16 10:04	1213	16,6

01.10.16 16:52	1218	12200000

09.10.2016T 19:10:00	1218	22400000

02.10.16 8:42	1219	15,4

03.10.16 19:32	1223	17,2

06.10.16 22:11	1223	17600000

08.10.2016T 15:18:00	1224	16,4

07.10.16 18:32	1228	18,8

08.10.2016T 13:21:00	1228	17,6

03.10.16 15:47	1230	20,6

02.10.16 22:01	1236	17,4

05.10.16 5:27	1238	13,6

09.10.2016T 14:43:00	1238	17,6

04.10.16 22:25	1242	18,4

06.10.16 4:54	1243	20,4

06.10.16 14:28	1243	20

01.10.16 4:27	1246	17,8

01.10.16 16:30	1248	13,2

01.10.16 21:06	1248	28,8

02.10.16 7:12	1252	22

04.10.16 13:51	1252	15,6

01.10.16 12:36	1253	13,6

04.10.16 17:11	1253	8,6

02.10.16 16:22	1258	22

08.10.2016T 19:34:00	1258	20

02.10.16 10:36	1263	12,6

03.10.16 6:10	1263	18

05.10.16 2:48	1268	16,4

07.10.16 19:36	1268	16

02.10.16 14:12	1269	22

07.10.16 3:29	1270	21,8

01.10.16 8:56	1273	14,6

08.10.2016T 13:49:00	1273	22

07.10.16 6:00	1274	25

04.10.16 13:47	1278	15,6

07.10.16 6:42	1278	17,8

08.10.2016T 3:24:00	1279	14,8

03.10.16 1:03	1281	18,2

02.10.16 6:11	1283	12,6

02.10.16 19:24	1283	11,8

07.10.16 13:37	1288	16

08.10.2016T 19:46:00	1288	30,4

07.10.16 2:41	1291	13,4

01.10.16 17:29	1293	18,4

02.10.16 20:12	1293	20

02.10.16 23:36	1294	17

07.10.16 10:32	1296	26

03.10.16 20:41	1298	21

03.10.16 22:35	1298	19,4

05.10.16 12:19	1298	16

02.10.16 11:43	1300	12,8

03.10.16 23:18	1300	14

03.10.16 18:28	1302	21800000

02.10.16 8:06	1303	11,8

06.10.16 6:23	1303	25,8

03.10.16 10:42	1308	18

06.10.16 18:52	1308	10,2

06.10.16 16:16	1313	12

08.10.2016T 18:12:00	1313	13,8

02.10.16 14:04	1315	16,6

06.10.16 17:08	1320	18

09.10.2016T 2:35:00	1323	16

09.10.2016T 10:08:00	1323	28,6

05.10.16 7:29	1328	18,4

05.10.16 11:58	1328	18,8

03.10.16 0:36	1330	17,8

09.10.2016T 2:08:00	1331	16,8

03.10.16 2:19	1332	19,4

04.10.16 22:01	1333	20

08.10.2016T 3:48:00	1334	16

03.10.16 1:32	1343	22

08.10.2016T 4:34:00	1350	12800000

04.10.16 4:09	1351	20

06.10.16 19:09	1353	17,4

03.10.16 1:30	1354	15,6

02.10.16 23:30	1355	22

08.10.2016T 6:50:00	1359	14,4

02.10.16 13:33	1362	12,2

05.10.16 21:36	1363	12,2

04.10.16 22:06	1364	20

01.10.16 5:29	1366	13000000

07.10.16 9:40	1367	22,4

04.10.16 7:31	1371	13,6

04.10.16 1:36	1372	30,4

07.10.16 17:25	1374	12,4

05.10.16 23:06	1377	16

06.10.16 14:29	1380	30,4

09.10.2016T 4:55:00	1382	23,2

05.10.16 21:24	1383	20

05.10.16 8:14	1386	12,6

03.10.16 11:43	1387	14,6

01.10.16 6:21	1388	11,8

03.10.16 6:03	1392	20,2

06.10.16 5:34	1393	10

04.10.16 23:55	1394	12,8

05.10.16 5:01	1397	20,6

05.10.16 22:54	1398	18

Чем прекрасен этот файл:
1. Даты имеют разный формат: за 8 и 9 октября формат с "09.10.2016 21:40" сменился на "09.10.2016T 21:40:00" (добавилась буква T и секунды). Разработчики объяснили этот тем, что сбились настройки после обновления одной из баз данных.
2. У покупок некоторых пользователей неизвестно значение выручки, из-за чего количество столбцов в строке уменьшается на один.
3. У некоторых строк реальная сумма покупки умножена на миллион. Так иногда действительно делают, чтобы избежать дробных чисел и работать только с целыми.

Необходимо посчитать сумму выручки из третьего столбца.

In [19]:
import requests

# Wifi

# Алгоритм экспоненциальной задержки

In [24]:
def exchange_rates(host, timeout):
    return requests.get(f'{host}/daily_json.js', timeout=timeout).json()

# Кратковременная ошибка
Wifi

# Серьезная ошибка
Недоступен сервис 99.9%

365 - 8 часов

In [30]:
import time

In [31]:
time.sleep(5)

In [36]:
2**10

1024

In [39]:
for i in range(5):
    try:
        data = exchange_rates('https://www.cbr-xml-daily.ru', 300)
    except:
        print('Неудачная попытка, жду секунд', 2**i)
        time.sleep(2**i)
        
print(data)

{'Date': '2021-03-20T11:30:00+03:00', 'PreviousDate': '2021-03-19T11:30:00+03:00', 'PreviousURL': '//www.cbr-xml-daily.ru/archive/2021/03/19/daily_json.js', 'Timestamp': '2021-03-19T20:00:00+03:00', 'Valute': {'AUD': {'ID': 'R01010', 'NumCode': '036', 'CharCode': 'AUD', 'Nominal': 1, 'Name': 'Австралийский доллар', 'Value': 57.5541, 'Previous': 57.6007}, 'AZN': {'ID': 'R01020A', 'NumCode': '944', 'CharCode': 'AZN', 'Nominal': 1, 'Name': 'Азербайджанский манат', 'Value': 43.6368, 'Previous': 43.3539}, 'GBP': {'ID': 'R01035', 'NumCode': '826', 'CharCode': 'GBP', 'Nominal': 1, 'Name': 'Фунт стерлингов Соединенного королевства', 'Value': 103.3424, 'Previous': 102.8858}, 'AMD': {'ID': 'R01060', 'NumCode': '051', 'CharCode': 'AMD', 'Nominal': 100, 'Name': 'Армянских драмов', 'Value': 14.0481, 'Previous': 13.957}, 'BYN': {'ID': 'R01090B', 'NumCode': '933', 'CharCode': 'BYN', 'Nominal': 1, 'Name': 'Белорусский рубль', 'Value': 28.5611, 'Previous': 28.3246}, 'BGN': {'ID': 'R01100', 'NumCode': '975', 'CharCode': 'BGN', 'Nominal': 1, 'Name': 'Болгарский лев', 'Value': 45.2067, 'Previous': 45.0123}, 'BRL': {'ID': 'R01115', 'NumCode': '986', 'CharCode': 'BRL', 'Nominal': 1, 'Name': 'Бразильский реал', 'Value': 13.3332, 'Previous': 13.1893}, 'HUF': {'ID': 'R01135', 'NumCode': '348', 'CharCode': 'HUF', 'Nominal': 100, 'Name': 'Венгерских форинтов', 'Value': 24.0294, 'Previous': 23.9956}, 'HKD': {'ID': 'R01200', 'NumCode': '344', 'CharCode': 'HKD', 'Nominal': 10, 'Name': 'Гонконгских долларов', 'Value': 95.4575, 'Previous': 94.858}, 'DKK': {'ID': 'R01215', 'NumCode': '208', 'CharCode': 'DKK', 'Nominal': 1, 'Name': 'Датская крона', 'Value': 11.8908, 'Previous': 11.8403}, 'USD': {'ID': 'R01235', 'NumCode': '840', 'CharCode': 'USD', 'Nominal': 1, 'Name': 'Доллар США', 'Value': 74.139, 'Previous': 73.6582}, 'EUR': {'ID': 'R01239', 'NumCode': '978', 'CharCode': 'EUR', 'Nominal': 1, 'Name': 'Евро', 'Value': 88.433, 'Previous': 88.1173}, 'INR': {'ID': 'R01270', 'NumCode': '356', 'CharCode': 'INR', 'Nominal': 10, 'Name': 'Индийских рупий', 'Value': 10.228, 'Previous': 10.1531}, 'KZT': {'ID': 'R01335', 'NumCode': '398', 'CharCode': 'KZT', 'Nominal': 100, 'Name': 'Казахстанских тенге', 'Value': 17.5998, 'Previous': 17.5753}, 'CAD': {'ID': 'R01350', 'NumCode': '124', 'CharCode': 'CAD', 'Nominal': 1, 'Name': 'Канадский доллар', 'Value': 59.4348, 'Previous': 59.4305}, 'KGS': {'ID': 'R01370', 'NumCode': '417', 'CharCode': 'KGS', 'Nominal': 100, 'Name': 'Киргизских сомов', 'Value': 87.4, 'Previous': 86.8353}, 'CNY': {'ID': 'R01375', 'NumCode': '156', 'CharCode': 'CNY', 'Nominal': 1, 'Name': 'Китайский юань', 'Value': 11.3988, 'Previous': 11.3282}, 'MDL': {'ID': 'R01500', 'NumCode': '498', 'CharCode': 'MDL', 'Nominal': 10, 'Name': 'Молдавских леев', 'Value': 41.6161, 'Previous': 41.4276}, 'NOK': {'ID': 'R01535', 'NumCode': '578', 'CharCode': 'NOK', 'Nominal': 10, 'Name': 'Норвежских крон', 'Value': 87.3333, 'Previous': 87.3359}, 'PLN': {'ID': 'R01565', 'NumCode': '985', 'CharCode': 'PLN', 'Nominal': 1, 'Name': 'Польский злотый', 'Value': 19.145, 'Previous': 19.1112}, 'RON': {'ID': 'R01585F', 'NumCode': '946', 'CharCode': 'RON', 'Nominal': 1, 'Name': 'Румынский лей', 'Value': 18.0955, 'Previous': 18.0177}, 'XDR': {'ID': 'R01589', 'NumCode': '960', 'CharCode': 'XDR', 'Nominal': 1, 'Name': 'СДР (специальные права заимствования)', 'Value': 105.9995, 'Previous': 105.1228}, 'SGD': {'ID': 'R01625', 'NumCode': '702', 'CharCode': 'SGD', 'Nominal': 1, 'Name': 'Сингапурский доллар', 'Value': 55.2369, 'Previous': 54.8746}, 'TJS': {'ID': 'R01670', 'NumCode': '972', 'CharCode': 'TJS', 'Nominal': 10, 'Name': 'Таджикских сомони', 'Value': 65.0342, 'Previous': 64.6408}, 'TRY': {'ID': 'R01700J', 'NumCode': '949', 'CharCode': 'TRY', 'Nominal': 1, 'Name': 'Турецкая лира', 'Value': 10.213, 'Previous': 98.2463}, 'TMT': {'ID': 'R01710A', 'NumCode': '934', 'CharCode': 'TMT', 'Nominal': 1, 'Name': 'Новый туркменский манат', 'Value': 21.2129, 'Previous': 21.0753}, 'UZS': {'ID': 'R01717', 'NumCode': '860', 'CharCode': 'UZS', 'Nominal': 10000, 'Name': 'Узбекских сумов', 'Value': 70.5148, 'Previous': 69.9931}, 'UAH': {'ID': 'R01720', 'NumCode': '980', 'CharCode': 'UAH', 'Nominal': 10, 'Name': 'Украинских гривен', 'Value': 26.7543, 'Previous': 26.6058}, 'CZK': {'ID': 'R01760', 'NumCode': '203', 'CharCode': 'CZK', 'Nominal': 10, 'Name': 'Чешских крон', 'Value': 33.838, 'Previous': 33.6654}, 'SEK': {'ID': 'R01770', 'NumCode': '752', 'CharCode': 'SEK', 'Nominal': 10, 'Name': 'Шведских крон', 'Value': 87.1844, 'Previous': 86.8959}, 'CHF': {'ID': 'R01775', 'NumCode': '756', 'CharCode': 'CHF', 'Nominal': 1, 'Name': 'Швейцарский франк', 'Value': 80.0205, 'Previous': 79.6219}, 'ZAR': {'ID': 'R01810', 'NumCode': '710', 'CharCode': 'ZAR', 'Nominal': 10, 'Name': 'Южноафриканских рэндов', 'Value': 50.5464, 'Previous': 50.2039}, 'KRW': {'ID': 'R01815', 'NumCode': '410', 'CharCode': 'KRW', 'Nominal': 1000, 'Name': 'Вон Республики Корея', 'Value': 65.6553, 'Previous': 65.4987}, 'JPY': {'ID': 'R01820', 'NumCode': '392', 'CharCode': 'JPY', 'Nominal': 100, 'Name': 'Японских иен', 'Value': 68.2208, 'Previous': 67.4835}}}

In [23]:
for i in range(1000):
    try:
        requests.get('https://www.cbr-xml-daily.ru/daily_json.js').json()
    except:
        pass

{'Date': '2021-03-20T11:30:00+03:00',
 'PreviousDate': '2021-03-19T11:30:00+03:00',
 'PreviousURL': '//www.cbr-xml-daily.ru/archive/2021/03/19/daily_json.js',
 'Timestamp': '2021-03-19T20:00:00+03:00',
 'Valute': {'AUD': {'ID': 'R01010',
   'NumCode': '036',
   'CharCode': 'AUD',
   'Nominal': 1,
   'Name': 'Австралийский доллар',
   'Value': 57.5541,
   'Previous': 57.6007},
  'AZN': {'ID': 'R01020A',
   'NumCode': '944',
   'CharCode': 'AZN',
   'Nominal': 1,
   'Name': 'Азербайджанский манат',
   'Value': 43.6368,
   'Previous': 43.3539},
  'GBP': {'ID': 'R01035',
   'NumCode': '826',
   'CharCode': 'GBP',
   'Nominal': 1,
   'Name': 'Фунт стерлингов Соединенного королевства',
   'Value': 103.3424,
   'Previous': 102.8858},
  'AMD': {'ID': 'R01060',
   'NumCode': '051',
   'CharCode': 'AMD',
   'Nominal': 100,
   'Name': 'Армянских драмов',
   'Value': 14.0481,
   'Previous': 13.957},
  'BYN': {'ID': 'R01090B',
   'NumCode': '933',
   'CharCode': 'BYN',
   'Nominal': 1,
   'Name': 'Белорусский рубль',
   'Value': 28.5611,
   'Previous': 28.3246},
  'BGN': {'ID': 'R01100',
   'NumCode': '975',
   'CharCode': 'BGN',
   'Nominal': 1,
   'Name': 'Болгарский лев',
   'Value': 45.2067,
   'Previous': 45.0123},
  'BRL': {'ID': 'R01115',
   'NumCode': '986',
   'CharCode': 'BRL',
   'Nominal': 1,
   'Name': 'Бразильский реал',
   'Value': 13.3332,
   'Previous': 13.1893},
  'HUF': {'ID': 'R01135',
   'NumCode': '348',
   'CharCode': 'HUF',
   'Nominal': 100,
   'Name': 'Венгерских форинтов',
   'Value': 24.0294,
   'Previous': 23.9956},
  'HKD': {'ID': 'R01200',
   'NumCode': '344',
   'CharCode': 'HKD',
   'Nominal': 10,
   'Name': 'Гонконгских долларов',
   'Value': 95.4575,
   'Previous': 94.858},
  'DKK': {'ID': 'R01215',
   'NumCode': '208',
   'CharCode': 'DKK',
   'Nominal': 1,
   'Name': 'Датская крона',
   'Value': 11.8908,
   'Previous': 11.8403},
  'USD': {'ID': 'R01235',
   'NumCode': '840',
   'CharCode': 'USD',
   'Nominal': 1,
   'Name': 'Доллар США',
   'Value': 74.139,
   'Previous': 73.6582},
  'EUR': {'ID': 'R01239',
   'NumCode': '978',
   'CharCode': 'EUR',
   'Nominal': 1,
   'Name': 'Евро',
   'Value': 88.433,
   'Previous': 88.1173},
  'INR': {'ID': 'R01270',
   'NumCode': '356',
   'CharCode': 'INR',
   'Nominal': 10,
   'Name': 'Индийских рупий',
   'Value': 10.228,
   'Previous': 10.1531},
  'KZT': {'ID': 'R01335',
   'NumCode': '398',
   'CharCode': 'KZT',
   'Nominal': 100,
   'Name': 'Казахстанских тенге',
   'Value': 17.5998,
   'Previous': 17.5753},
  'CAD': {'ID': 'R01350',
   'NumCode': '124',
   'CharCode': 'CAD',
   'Nominal': 1,
   'Name': 'Канадский доллар',
   'Value': 59.4348,
   'Previous': 59.4305},
  'KGS': {'ID': 'R01370',
   'NumCode': '417',
   'CharCode': 'KGS',
   'Nominal': 100,
   'Name': 'Киргизских сомов',
   'Value': 87.4,
   'Previous': 86.8353},
  'CNY': {'ID': 'R01375',
   'NumCode': '156',
   'CharCode': 'CNY',
   'Nominal': 1,
   'Name': 'Китайский юань',
   'Value': 11.3988,
   'Previous': 11.3282},
  'MDL': {'ID': 'R01500',
   'NumCode': '498',
   'CharCode': 'MDL',
   'Nominal': 10,
   'Name': 'Молдавских леев',
   'Value': 41.6161,
   'Previous': 41.4276},
  'NOK': {'ID': 'R01535',
   'NumCode': '578',
   'CharCode': 'NOK',
   'Nominal': 10,
   'Name': 'Норвежских крон',
   'Value': 87.3333,
   'Previous': 87.3359},
  'PLN': {'ID': 'R01565',
   'NumCode': '985',
   'CharCode': 'PLN',
   'Nominal': 1,
   'Name': 'Польский злотый',
   'Value': 19.145,
   'Previous': 19.1112},
  'RON': {'ID': 'R01585F',
   'NumCode': '946',
   'CharCode': 'RON',
   'Nominal': 1,
   'Name': 'Румынский лей',
   'Value': 18.0955,
   'Previous': 18.0177},
  'XDR': {'ID': 'R01589',
   'NumCode': '960',
   'CharCode': 'XDR',
   'Nominal': 1,
   'Name': 'СДР (специальные права заимствования)',
   'Value': 105.9995,
   'Previous': 105.1228},
  'SGD': {'ID': 'R01625',
   'NumCode': '702',
   'CharCode': 'SGD',
   'Nominal': 1,
   'Name': 'Сингапурский доллар',
   'Value': 55.2369,
   'Previous': 54.8746},
  'TJS': {'ID': 'R01670',
   'NumCode': '972',
   'CharCode': 'TJS',
   'Nominal': 10,
   'Name': 'Таджикских сомони',
   'Value': 65.0342,
   'Previous': 64.6408},
  'TRY': {'ID': 'R01700J',
   'NumCode': '949',
   'CharCode': 'TRY',
   'Nominal': 1,
   'Name': 'Турецкая лира',
   'Value': 10.213,
   'Previous': 98.2463},
  'TMT': {'ID': 'R01710A',
   'NumCode': '934',
   'CharCode': 'TMT',
   'Nominal': 1,
   'Name': 'Новый туркменский манат',
   'Value': 21.2129,
   'Previous': 21.0753},
  'UZS': {'ID': 'R01717',
   'NumCode': '860',
   'CharCode': 'UZS',
   'Nominal': 10000,
   'Name': 'Узбекских сумов',
   'Value': 70.5148,
   'Previous': 69.9931},
  'UAH': {'ID': 'R01720',
   'NumCode': '980',
   'CharCode': 'UAH',
   'Nominal': 10,
   'Name': 'Украинских гривен',
   'Value': 26.7543,
   'Previous': 26.6058},
  'CZK': {'ID': 'R01760',
   'NumCode': '203',
   'CharCode': 'CZK',
   'Nominal': 10,
   'Name': 'Чешских крон',
   'Value': 33.838,
   'Previous': 33.6654},
  'SEK': {'ID': 'R01770',
   'NumCode': '752',
   'CharCode': 'SEK',
   'Nominal': 10,
   'Name': 'Шведских крон',
   'Value': 87.1844,
   'Previous': 86.8959},
  'CHF': {'ID': 'R01775',
   'NumCode': '756',
   'CharCode': 'CHF',
   'Nominal': 1,
   'Name': 'Швейцарский франк',
   'Value': 80.0205,
   'Previous': 79.6219},
  'ZAR': {'ID': 'R01810',
   'NumCode': '710',
   'CharCode': 'ZAR',
   'Nominal': 10,
   'Name': 'Южноафриканских рэндов',
   'Value': 50.5464,
   'Previous': 50.2039},
  'KRW': {'ID': 'R01815',
   'NumCode': '410',
   'CharCode': 'KRW',
   'Nominal': 1000,
   'Name': 'Вон Республики Корея',
   'Value': 65.6553,
   'Previous': 65.4987},
  'JPY': {'ID': 'R01820',
   'NumCode': '392',
   'CharCode': 'JPY',
   'Nominal': 100,
   'Name': 'Японских иен',
   'Value': 68.2208,
   'Previous': 67.4835}}}

# Даты

In [ ]:
# иногда импортируют так
import datetime

In [ ]:
# можно и так
import datetime as dt

In [ ]:
# у нас будет вариант покороче (но это не одно и то же)
from datetime import datetime

In [ ]:
date_string = '09.05.2018  09:00'

In [ ]:
# сейчас date_string это просто строка
type(date_string)

In [ ]:
datetime.strptime('09.05.2018 09:00', '%d.%m.%Y %H:%M')

In [ ]:
# https://docs.python.org/3/library/datetime.html

date_datetime = datetime.strptime( date_string, '%d.%m.%Y %H:%M' )
date_datetime

In [ ]:
# теперь можем работать с датами
type(date_datetime)

In [ ]:
# получить номер года и часа
date_datetime.year, date_datetime.hour

In [ ]:
# день недели
date_datetime.weekday()

In [ ]:
# сегодня
datetime.now()

### Упражнение
С помощью метода datetime.strptime переведите строку 'May 25 2017 5:00AM' в формат datetime.

### Прибавление интервала к датам

In [ ]:
from datetime import timedelta

In [ ]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [ ]:
type(start_date)

In [ ]:
start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d')
start_date_datetime

In [ ]:
start_date_datetime + timedelta(days=1)

In [ ]:
start_date_datetime + timedelta(days=-7, minutes=-1)

### Перевод обратно в строку

In [ ]:
date = datetime(2018, 9, 1)
date

In [ ]:
date.strftime('%Y-%m-%d')

In [ ]:
date.strftime('%B %d %Y %I:%M%p')

In [ ]:
datetime.now().strftime('%Y-%m-01')

In [ ]:
# как получить первый день месяца

date.strftime('%Y-%m-01')

In [ ]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [ ]:
start_date, end_date

In [ ]:
start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')

print(start_date_dt, end_date_dt)

In [ ]:
i = 0

while i < 10:
    # ...
    i += 1
    print(i)

In [ ]:
current_dt = start_date_dt

while current_dt <= end_date_dt:
    print(current_dt.strftime('%Y-%m-%d'))
    
    current_dt += timedelta(days=1)

In [ ]:
current_dt = start_date_dt

while current_dt.strftime('%Y-%m-%d') <= end_date:
    print(current_dt.strftime('%Y-%m-%d'))
    
    current_dt += timedelta(days=1)

In [ ]:
# можно и с помощью list comprehension
[(start_date_dt + timedelta(days=x)).strftime('%Y-%m-%d') for x in range(10)]

### Нагрузка на систему по часам

In [ ]:
stats = {}

with open('logs.csv', 'r') as f:
    for line in f:
        line = line.strip()
        print(line)
        
        break
        
        # вычисления нагрузки на систему...
        
# результат
stats

In [ ]:
# а в процентном соотношении?

###  Unixtime
Количество секунд, прошедших с 1 января 1970 года по UTC

In [ ]:
import time
from datetime import date
from datetime import datetime

In [ ]:
d = date(2019, 3, 11)

unixtime = time.mktime(d.timetuple())
unixtime

In [ ]:
from datetime import datetime

In [ ]:
datetime.fromtimestamp(1552251600)

На практике все сложнее https://habr.com/ru/post/452584/

# Задача про интервалы
Имеется список отсортированных по возрастанию целых чисел data. А также целое число n, которое лежит между минимальным и максимальным значениями из списка data. Вам необходимо определить минимальное ближайшее число к n из списка data.

Пример:
```python
data = [1, 7, 17, 23, 27, 35, 65]
n = 20
```

Ответ: 17

Подобные алгоритмы используются для классификации объекта по значению одной метрики. Например, это может пригодиться для классификации учащегося по его возрасту:
```python
ages = {
    1: 'дети',
    7: 'школьники',
    17: 'студенты',
    23: 'аспиранты',
    27: 'молодые ученые',
    35: 'преподаватели',
    65: 'пенсионеры',
}
```

Итого напишите функцию, которая по списку data и числу n возвращает минимальное ближайшее к n число. Список может быть любым, поэтому не рассчитывайте на написание цепочки условий через if.

Бонусные варианты:
1. Рассмотрите ситуацию, в которой при фиксированном списке data вам необходимо классифицировать большое количество пользователей с разными значениями n. Например, вам необходимо классифицировать базу из 100 миллионов человек по возрастам по словарю ages из примера выше. Можно ли в таком случае ускорить проход по такому числу пользователей?

2. Если вы решали основное задание перебором элементов списка data и сравнением с n, то сложность такого алгоритма O(N). Т. е. при увеличении числа элементов списка data в N раз время работы алгоритма тоже вырастет в N раз. Попробуйте ускорить этот алгоритм. Например, с помощью аналога бинарного поиска.