### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [74]:
data_movies = pd.read_csv(r'.\ml-20m\movies.csv')
data_ratings = pd.read_csv(r'.\ml-20m\ratings.csv')

In [91]:
data_joined = data_ratings.merge(data_movies, on='movieId', how='left')

In [96]:
data_ratings_5 = data_joined[data_joined['rating']==5]

In [109]:
data_ratings_5.groupby('title').count().sort_values('rating', ascending=False).head(1)

                     userId  movieId  rating  timestamp  genres
title
Pulp Fiction (1994)   67310    67310   67310      67310   67310

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [8]:
data_energy_consumption = pd.read_csv('power.csv')

In [64]:
filtered_countries_quantity = data_energy_consumption[data_energy_consumption['quantity']>0]

filtered_countries_country = filtered_countries_quantity[(filtered_countries_quantity['country']=='Latvia')|
                                                         (filtered_countries_quantity['country']=='Lithuania')|
                                                         (filtered_countries_quantity['country']=='Estonia')]

filtered_countries_category = filtered_countries_country[(filtered_countries_country['category']==4)|
                                                         (filtered_countries_country['category']==12)|
                                                         (filtered_countries_country['category']==21)]

filtered_countries_yyyy = filtered_countries_category[(filtered_countries_category['year']>2004)&
                                                      (filtered_countries_category['year']<2011)]

In [63]:
filtered_countries_yyyy['quantity'].sum()

240580.0

In [72]:
filtered_countries_Pribaltika = data_energy_consumption[(data_energy_consumption['quantity']>0)
                                                        &
                                                        ((data_energy_consumption['year']>2004)&
                                                        (data_energy_consumption['year']<2011))
                                                        &
                                                        ((data_energy_consumption['country']=='Latvia')|
                                                        (data_energy_consumption['country']=='Lithuania')|
                                                        (data_energy_consumption['country']=='Estonia'))
                                                        &
                                                        ((data_energy_consumption['category']==4)|
                                                        (data_energy_consumption['category']==12)|
                                                        (data_energy_consumption['category']==21))]

In [73]:
filtered_countries_Pribaltika['quantity'].sum()

240580.0

In [118]:
data_energy_consumption[
                        (data_energy_consumption['quantity']>0)
                        &
                       ((data_energy_consumption['year']>2004)&
                        (data_energy_consumption['year']<2011))
                        &
                       ((data_energy_consumption['country']=='Latvia')|
                        (data_energy_consumption['country']=='Lithuania')|
                        (data_energy_consumption['country']=='Estonia'))
                        &
                       ((data_energy_consumption['category']==4)|
                        (data_energy_consumption['category']==12)|
                        (data_energy_consumption['category']==21))
                       ]['quantity'].sum()

240580.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

https://gks.ru/bgd/free/B04_03/IssWWW.exe/Stg/d02/37.htm

In [128]:
data_stocks_rus = pd.read_html('https://fortrader.org/quotes')[3]
data_stocks_rus.head()

                   Название      Цена  Изменение  Изменение(%)  Обновлено
0             ВТБ Акции ВТБ  0.044015  -0.000005     -0.011358        NaN
1    Газпром Акции газпрома    222.60  -0.270000     -0.120000        NaN
2       Лукойл Акции Лукойл   6 015.0  -5.000000     -0.100000        NaN
3   Роснефть Акции Роснефти    540.15   0.000000      0.000000        NaN
4  Сбербанк Акции Сбербанка    281.75   0.000000      0.000000        NaN

In [129]:
data_stocks_america = pd.read_html('https://fortrader.org/quotes')[4]
data_stocks_america.head()

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Google Акции Google (GOOGL),2 235.01,-9.61,-0.43,NaN
1,IBM Акции IBM (IBM),134.48,-0.11,-0.08,NaN
2,Microsoft Акции Майкрософт (MSFT),256.05,0.14,0.05,NaN
3,Apple Акции Apple (AAPL),131.32,0.08,0.06,NaN
4,Yandex Акции яндекса,62.42,-0.43,-0.68,NaN