### Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка более 2 и меньше 4.5 - средний рейтинг
- оценка 4.5 и выше - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [3]:
data_ratings = pd.read_csv(r'.\ml-latest-small\ratings.csv')

In [8]:
data_ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [6]:
def evaluation(rating_f):
    if (rating_f < 2) or (rating_f == 2):
        return 'низкий рейтинг'
    elif rating_f < 4.5:
        return 'средний рейтинг'
    return 'высокий рейтинг'

In [9]:
data_ratings['class'] = data_ratings['rating'].apply(evaluation)
data_ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [137]:
geo_data = {
            'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
            }

In [138]:
data_keywords = pd.read_csv(r'.\ml-latest-small\keywords.csv')

In [147]:
def geo_classifier(keyword_f):
    for key, value in geo_data.items():
        for el in value:
            if el in keyword_f:
                return key
    return 'undefined'

In [149]:
data_keywords['region'] = data_keywords['keyword'].apply(geo_classifier)

In [150]:
data_keywords[data_keywords['region'].isin(['Центр', 'Северо-Запад', 'Дальний Восток'])].head(30)

,keyword,shows,region
127,авито москва,979292,Центр
370,авито ру санкт петербург,425134,Северо-Запад
564,погода в санкт петербурге,292489,Северо-Запад
849,авито ярославль,209581,Центр
1063,фарпост владивосток,176951,Дальний Восток
1236,банк санкт петербург,174375,Северо-Запад
1259,москва,153050,Центр
1346,санкт петербург,144232,Северо-Запад
1396,гисметео москва,140279,Центр
1482,госуслуги москва,133061,Центр
1579,авито тула,126168,Центр
1682,погода москва,151701,Центр
2121,электронный дневник санкт петербургского образ...,94835,Северо-Запад
2153,авито псков,98931,Северо-Запад
2175,дром хабаровск,98361,Дальний Восток
2398,авито мурманск,89787,Северо-Запад
2550,банк санкт петербург интернет банк,89123,Северо-Запад
2806,циан недвижимость москва,78729,Центр
2974,авто ру санкт петербург,74918,Северо-Запад
3206,дром владивосток,73084,Дальний Восток
3275,100 сп владивосток,76418,Дальний Восток
3687,авито хабаровск,63736,Дальний Восток
3786,метро москва,68024,Центр
4492,авито санкт петербурге,53715,Северо-Запад
4654,леруа мерлен каталог товаров в санкт петербурге,52087,Северо-Запад
4888,перекресток акции москва каталог сегодня,48619,Центр
5013,фк спартак москва,49699,Центр
5026,авито мурманская область,48756,Северо-Запад
5045,емлс недвижимость санкт петербурга,48409,Северо-Запад
5083,карта метро санкт петербурга,48989,Северо-Запад

### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.
2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
    
    1. для каждой строки пройдите по всем годам списка years;
    2. если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска;
    3. если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год.
    
3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’.
4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга.

P.S. все файлы находятся в архиве «дополнительные файлы к лекции и дз»

<b>Важно! При копировании юпитер ноутбука изменяет кавычки ’ на ` , что может способствовать ошибки в коде. В данной ситуации необходимо их просто заменить.

In [283]:
data_ratings = pd.read_csv(r'.\ml-latest-small\ratings.csv')
data_movies = pd.read_csv(r'.\ml-latest-small\movies.csv')
import re
yyy = list(range(1950,2011))

In [288]:
data_joined = data_ratings.merge(data_movies, on='movieId', how='left')

In [279]:
def production_year(title_f): 
    yyyy = re.findall(r'\d{4}', title_f)
    if yyyy == []:
        return 1900
    elif int(''.join(yyyy)) in year:
        return int(''.join(yyyy))
    return 1900

In [302]:
data_joined['year'] = data_joined['title'].apply(production_year)

In [301]:
data_joined.groupby('year').mean('rating').sort_values(by='rating', ascending=False).head(10)

          userId      movieId    rating     timestamp
year
1957  360.933544  2750.965190  4.014241  1.083707e+09
1972  359.694878  3983.538976  4.011136  1.122759e+09
1952  346.394737  4107.796053  4.000000  1.090512e+09
1974  356.815443  3981.137476  3.999058  1.114139e+09
1954  358.228324  2867.661850  3.994220  1.070591e+09
1951  347.106996  2605.588477  3.983539  1.052714e+09
1962  350.671196  3479.100543  3.952446  1.094200e+09
1950  355.720339  3503.427966  3.915254  1.090648e+09
1977  351.040059  3604.516320  3.905786  1.116007e+09
1964  347.275058  3557.843823  3.841492  1.110870e+09