## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дана строка:

In [1]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

In [3]:
import re

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [204]:
len(re.findall(r'\S', string_01))

225

2. Посчитайте, сколько в строке слов.

In [207]:
len(re.findall(r'\w+', string_01))

45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [216]:
def find_letter(letter_f, string_f):
    print(' '.join(re.findall(r'\b['+letter_f.lower()+letter_f.upper()+']\w+', string_f)))
    
letter = input('Введите первую букву слова: ')    
find_letter(letter, string_01)

Введите первую букву слова: a
always and and As agreed

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [78]:
import random

In [237]:
sequence = []
while len(sequence) != 6:
    sequence.append(str(random.randint(0,9)))
st1 = ''.join(sequence)
sequence[random.randint(0,5)] = '3'
st2 = ''.join(sequence)
st1
st2

'928431'

#### Задача 3

Дан список:

In [154]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [240]:
sm_el = 0
for el in list_01:
    if (10 < el <100) or (200 < el < 500):
        sm_el += el
print(sm_el)

1291

In [245]:
sum([el for el in list_01 if (10 < el <100) or (200 < el < 500)])

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [156]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [247]:
students_dictionary = {}
for st in students:
    students_dictionary[st[0]] = st[1:]
students_dictionary

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый внутри созданного словаря.

In [183]:
def new_group(key_f, new_gr_f):
    students_dictionary[key_f][4] = new_gr_f

In [248]:
key = '0001'
new_gr = 'БСТ162'
new_group(key, new_gr)
students_dictionary

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ162'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [193]:
def print_group(group_f):
    for value in students_dictionary.values():
        if value[4] == group_f:
            print(' '.join(value[0:3]))
            
group = 'БСТ161'
print_group(group)

Степанова Наталья Александровна
Боков Игорь Харитонович

#### Задача 5

Дана матрица:

In [274]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

In [275]:
matrix2 = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [249]:
sm_matrix = 0
for st in matrix:
    sm_matrix += sum(st)
print(sm_matrix)

89

In [257]:
sum([sum(st) for st in matrix])

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [276]:
i = 0
max_matrix = []
for i in range((len(matrix[0]))):
    matrix1 = []
    for st in matrix:
        matrix1.append(st[i])
    i += 1
    max_matrix.append(sum(matrix1))
print(max(max_matrix))

22

In [281]:
i = 0
[max(low) for low in matrix2]

[8, 9, 3, 7, 7]

In [283]:
print(*matrix2)

[0, 1, 2, 4, 8] [6, 2, 2, 1, 9] [3, 3, 3, 3, 3] [4, 6, 7, 1, 2] [5, 7, 3, 4, 0]

In [287]:
print(list(zip(*matrix2)))

[(0, 6, 3, 4, 5), (1, 2, 3, 6, 7), (2, 2, 3, 7, 3), (4, 1, 3, 1, 4), (8, 9, 3, 2, 0)]